.site-main .about-area{
    padding: 8rem 5rem;

}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px $roboto;
    letter-spacing: 19px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
    text-align: justify;
}