.site-main .site-banner{
    background: url(../../img/banner/home-banner.png) no-repeat;
    background-size: cover; 
    background-position: 0% 50%;
    // z-index: -1;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}
.site-main .site-banner .site-title h3::after{
    content: '';
    display: inline-block;
    height: 2px;
    width: 18vw;
    background: #000;
    margin-left: 5%;
    transform: translateY(-5px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;

}

.site-main .site-banner .site-title h4{
    font-size: 1.4rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
    width: 90rem;
}

