.font-zen{
    font-family: $font-zen;
}
.font-bellota{
    font-family: $font-bellota;
}
.font-train{
    font-family: $font-train;

}
.font-major{
    font-family: $font-major;
}
.font-roboto{
    font-family: $roboto;
}