footer.footer-area {
    padding: 5rem 0;
    background: url(../../img/footer-bg.png);
}

footer.footer-area .social h5{
    font: normal 500 23px/30px $roboto;
    color: pinkx;
}

footer.footer-area .social a >i{
    font-size: 22px;
    padding: 2rem;
    color: $border-color ;
}

footer.footer-area .social a:hover >i{
    color: $primary-color;
}