html{
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  box-sizing: border-box;
}

.title-text {
  font: normal bold 52px/72px $roboto;
}

.text-uppercase {
  text-transform: uppercase;
}

.button {
  padding: 0.8rem 2.2rem;
  font: normal 500 16px/20px $roboto;
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button.primary-button {
  background: $gradient-color;
  background-clip: padding-box;
  color: whitesmoke;
  transition: background 0.6s ease;
  box-shadow: $box-shadow;
}

.button.primary-button:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}

.button.primary-button::after,
.button.secondary-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: $gradient-color;
  content: "";
  z-index: -1;
  border-radius: 4px;
}

.button.secondary-button {
  background: white;
  background-clip: padding-box;
  transition: 0.6s ease;
}

.button.secondary-button:hover {
  background: $gradient-color;
  color: whitesmoke;
  box-shadow: $box-shadow;
}

// To specify para only to <p>
p.para {
  color: $text-color;
  font: normal 500 16px/25px $roboto;
}

button:focus,
button:active button:hover .btn.active {
  outline: 0px !important;
  box-shadow: none !important;
}
.title-h1 {
  font: normal bold 39px/40px $roboto;
}

.navbar_fixed{
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0; right: 0;
  background: white;
  box-shadow: $box-shadow;
  z-index: 999; // to bring nav to the top order
  transition: background 1s ease;

}