 .site-main .project-area{
     padding: 4rem 0;

 }

.site-main .project-area .button-group button {
    background: transparent;
    border: none;
    font: normal 600 16px/130px $roboto;
    text-transform: uppercase;
  }

//   This + button will choose from the secong button class
.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > title h4 {
    font: normal 700 25px/12px $roboto;
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afa1);
}